<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style></style>
  </head>
  <body>
    <div class="navbar justify-content-center">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a name="create" class="nav-link active createList">Create List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" tabindex="-1">Logout</a>
        </li>
      </ul>
    </div>
    <form action="/list/addList" method="POST">
      <div class="input-group mb-3 listCreate listDisplay justify-content-center">
        <label for="list" class="mb-3 fs-3">List name</label>
        <div class="container d-flex">  
          <input
            type="text"
            class="form-control"
            placeholder="Create new To Do List"
            aria-label="Create new To Do List"
            aria-describedby="button-addon2"
            name="name"
            id="list"
          />
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
        </div>
      </div>
    </form>

    <% data.forEach(e => {%>
    <div class="d-flex flex-row flex-wrap align-content-center justify-content-center mt-5" name='<%= e.listId %>'>
      <div class="toDoList m-5">
        <div class="input-group mb-3 mt-2 addDiv">
          <form action="/list/<%=e.listId%>" method="POST" class="">
          <input type="text" class="form-control inputAdd" placeholder="Add new" name="toDo" />
          <button class="btn btn-outline-secondary btnAdd" type="submit" id="addNewToDo">
            Add
          </button>
        </form>
        </div>
        <h1 class="text-center"><%= e.name %><h1>
       
        <form action="/list/<%= e.listId %>?_method=DELETE" method="POST">
          <button class="btn btn-danger btnDeleteList" type="submit" id="deleteList">Delete List</button>
        </form>

          <ul>
          <% e.listItems.forEach(item => {  %>
          <li class="toDoElement d-flex flex-row text-break">
            <div class="divCheckbox align-self-center">
              <input class="checkboxElement me-3 form-check-input me-1" type="checkbox" />
            </div>
            <p><%= item.text %> </p>
            </li>
            <textarea name="<%= item.id %>" cols="20" rows="2" class='hidden toDoElementEdit'></textarea>
          <form action="/list/toDo/<%= item.id %>?_method=DELETE" method="POST">
          <button type="submit" class="deleteElement deleteElementVis" id="deleteToDo">Delete</button>
        </form>
          <% }) %>
        </ul>
      </div>
    </div>
    <% })%>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"
  ></script>

  <script src="./script.js"></script>
</html>
