<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  
    <div class="d-flex flex-row align-self-center mt-5">
      <% data.forEach(e => {%>
  
        <div class="d-flex card" name="<%= e.listId %>" tabindex="0">
        <div class="toDoList" name="<%= e.listId %>" tabindex="0">
          <div class="d-flex header justify-content-between">
            <!-- ADD EDITOR -->

            <!-- <div class="autocomplete">
        <i class="bi bi-person-plus editorBox"></i>
        <input type="text" id="addEditors" name="addEditors" class="form-control inputAdd inputEditor invisible" placeholder="Add/Remove editor">
      </div> -->
            <div>
              <% if(e.isAuthor) {%>
              <div class="author">
                <p class="authorField"><strong>Author</strong> <%= e.username %></p>
              </div>
              <% } %>

              <div class="editors">
                <strong>Editors:</strong>
                <% e.editors.forEach(edit => { %> <% let firstLetters = edit.match(/\b(\w)/g) %> <%
                acronym = firstLetters.join('') %>

                <span class="editorCircle" title="<%=edit%>"><%= acronym %></span>
                <% }) %>
              </div>
            </div>

            <form action="/list/<%= e.listId %>?_method=DELETE" method="POST" class="deleteList">
              <button class="btn btn-danger btnDeleteList" type="submit" id="deleteList">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                  name="button"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </button>
            </form>
          </div>

          <h3 class="toDoTitle"><%= e.name %></h3>

          <ul>
            <% e.listItems.forEach(item => { %>
            <li class="toDoElement d-flex text-break">
              <div class="divCheckbox align-self-center">
                <input class="checkboxElement me-3 form-check-input me-1 invisible" type="checkbox" />
              </div>
              <p class="toDoText"><%= item.text %></p>
            </li>
            <textarea
              name="<%= item.id %>"
              cols="20"
              rows="2"
              class="hidden toDoElementEdit"
            ></textarea>
            <form action="/list/toDo/<%= item.id %>?_method=DELETE" method="POST">
              <!-- <button type='submit'>delete</button> -->
            </form>
            <% }) %>
          </ul>
          <!-- ADD NEW TO DO   -->
          <!-- <div class="input-group mb-3 mt-2 addDiv d-flex"> -->
            <!-- <form action="/list/<%=e.listId%>" method="POST" class="">
            <input type="text" class="form-control inputAdd" placeholder="Add new" name="toDo" />
          </div>
          </form> -->
        </div>
      <% if(dupa){ %>
        <div class='toDoBack'>
          <h1>elooo</h1>
        </div>
        <% } %>
      </div>
      <% })%>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
